:root{
    --color1:#011212;
    --color2: #ff8800;
    --dimension: 100px;
    --radius: 50px;

}
body {
    background-color: var(--color1);
}

.ball {
    width: var(--dimension);
    height: var(--dimension);
    background-color:var(--color2);
    border-radius: var(--radius);

}
